form {
    display: flex;
    flex-direction: column;
}

.formElement {
    display: flex;
    flex-direction: column;
    padding: 1rem 2rem;
}

.form-input {
    padding: 0.5rem;
    border: none;
    border-radius: 0.5rem;
    background: var(--bg-input-form);
}

.button-container {
    padding: 1rem;
    display: flex;
    justify-content: center;
}

.buttonSubmit {
    color: var(--txt-color);
    display: flex;
    width: 8rem;
    height: 2rem;
    border: 1px solid #000;
    border-radius: 0.5rem;
    background:  var(--bg-button-theme-submit);
    padding: 1.5rem 2.5rem;
    align-items: center;
    justify-content: center;
}
