form {
    display: flex;
    flex-direction: column;
}

.formElement {
    display: flex;
    flex-direction: column;
    padding: 1rem 2rem;
}

.form-input {
    padding: 0.5rem;
    border: none;
    border-radius: 0.5rem;
    background: #FAF3E7;
}

.button-container {
    padding: 1rem;
    display: flex;
    justify-content: center;
}

.buttonSubmit {
    width: 8rem;
    height: 2rem;
    border: 1px solid #000;
    border-radius: 0.5rem;
    background: #FECB68
}
