<section id="technologies">
    <h3>Tecnologias</h3>
    <div class="containerSkills">
      <div class="set-size charts-container" *ngFor="let skill of skillData.technologies">
          <div class="pie-wrapper style-2 {{skill.classe}}">
              <span class="label">{{skill.name}}<span class="smaller"></span></span>
              <div class="pie">
                  <div class="left-side half-circle"></div>
                  <div class="right-side half-circle"></div>
              </div>
              <div class="shadow"></div>
          </div>
      </div>
    </div>
</section>


<section id="languages">
    <h3>Idiomas</h3>
    <div class="languages" *ngFor="let language of skillData.language">
        <h4>{{language.languageName}}</h4>
        <div class="languages-levels">
          <ol class="steps">
              <li class="step {{language.level1.level}}" data-step="1">
                  {{language.level1.nameLevel}}
              </li>
              <li class="step {{language.level2.level}}" data-step="2">
                  {{language.level2.nameLevel}}
              </li>
              <li class="step {{language.level3.level}}" data-step="3">
                  {{language.level3.nameLevel}}
              </li>
              <li class="step {{language.level4.level}}" data-step="4">
                  {{language.level4.nameLevel}}
              </li>
          </ol>
        </div>
    </div>

</section>
