<section id="technologies">
    <h3>Tecnologias</h3>
    <div class="set-size charts-container">
        <div class="pie-wrapper progress-45 style-2">
            <span class="label">{{skillData.value}}<span class="smaller"></span></span>
            <div class="pie">
                <div class="left-side half-circle"></div>
                <div class="right-side half-circle"></div>
            </div>
            <div class="shadow"></div>
        </div>
    
        <div class="pie-wrapper progress-75 style-2">
            <span class="label">{{skillData.value}}<span class="smaller"></span></span>
            <div class="pie">
                <div class="left-side half-circle"></div>
                <div class="right-side half-circle"></div>
            </div>
            <div class="shadow"></div>
        </div>
    
        <div class="pie-wrapper progress-95 style-2">
            <span class="label">{{skillData.value}}<span class="smaller"></span></span>
            <div class="pie">
                <div class="left-side half-circle"></div>
                <div class="right-side half-circle"></div>
            </div>
            <div class="shadow"></div>
        </div>
    </div>
</section>


<section id="languages">
    <h3>Idiomas</h3>
    <div class="languages">
        <h4>Inglês</h4>
        <ol class="steps">
            <li class="step is-complete" data-step="1">
                Básico
            </li>
            <li class="step is-complete" data-step="2">
                Intermediário
            </li>
            <li class="step is-active" data-step="3">
                Avançado
            </li>
            <li class="step" data-step="4">
                Fluente
            </li>
        </ol>
    </div>

</section>