<section id="technologies">
    <h3>Tecnologias</h3>
    <div class="containerSkills">
      <div class="set-size charts-container" *ngFor="let skill of skillData.technologies">
          <div class="pie-wrapper style-2 {{skill.classe}}">
              <span class="label">{{skill.name}}</span><img class="img-language" src="{{skill.image}}"><span class="smaller"></span>
              <div class="pie">
                  <div class="left-side half-circle"></div>
                  <div class="right-side half-circle"></div>
              </div>
              <div class="shadow"></div>
          </div>
      </div>
    </div>
</section>


<section class="languagesList" id="languages">
    <h3>Idiomas</h3>
    <div class="languages" *ngFor="let language of skillData.language">
        <h4>{{language.languageName}}</h4>
        <div class="languages-levels">
          <ng-container [ngSwitch]="language.level">
            <ol class="steps">
              <li class="step" data-step="1">
                <strong *ngSwitchCase="levelsEnum.Basico">Básico</strong>
              </li>
              <li class="step" data-step="2">
                <strong *ngSwitchCase="levelsEnum.Intermediario">Intermediário</strong>
              </li>
              <li class="step" data-step="3">
                <strong *ngSwitchCase="levelsEnum.Avancado">Avançado</strong>
              </li>
              <li class="step" data-step="4">
                <strong *ngSwitchCase="levelsEnum.Fluente">Fluente</strong>
              </li>
            </ol>
          </ng-container>
        </div>
    </div>

</section>
