
<app-skill [skillData]="DataCard.skills" *ngIf="DataCard.skills.isActive"></app-skill>

<app-experience [experienceData]="DataCard.experience" *ngIf="DataCard.experience.isActive"></app-experience>

<app-education [educationData]="DataCard.education" *ngIf="DataCard.education.isActive"></app-education>

<app-achievement [achievementsData]="DataCard.achievements" *ngIf="DataCard.achievements.isActive"></app-achievement>

    <!-- <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="skills">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">skills</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="education">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">education</span>
    </button> -->

