<div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <app-skill [skillData]="DataCard.skills" *ngIf="DataCard.skills.isActive"></app-skill>
      </div>
      <div class="carousel-item">
        <app-experience [experienceData]="DataCard.experience" *ngIf="DataCard.experience.isActive"></app-experience>
      </div>
      <div class="carousel-item">
        <app-education [educationData]="DataCard.education" *ngIf="DataCard.education.isActive"></app-education>
      </div>
      <div class="carousel-item">
        <app-achievement [achievementsData]="DataCard.achievements" *ngIf="DataCard.achievements.isActive"></app-achievement>
      </div>
    </div>
    <!-- <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="skills">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">skills</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="education">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">education</span>
    </button> -->
</div>
