ul {
  display: flex;
  justify-content: space-evenly;
  padding: 0;
  margin: 0;
}

ul button {
  list-style-type: none;
  color: #6FB3B8;
  background: #E3E3E3;
  padding: 0.5rem 4rem;
  border-radius: 1.5rem 1.5rem 0 0;
  border: none;
}

ul button:focus {
  outline: 0;
  list-style-type: none;
  color: #fff;
  background: #decbbb;
  padding: 0.5rem 4rem;
  border-radius: 1.4rem 1.5rem 0 0;
  font-weight: bold;
  font-size: 1.1rem;
}

ul li:hover{
  cursor: pointer;
}

