<ul>
  <button class="navButton" (click)="activateCard(0)" autofocus><input type="hidden" [(ngModel)]="activeCard">{{navData.skills}}</button>
  <button class="navButton" (click)="activateCard(1)"><input type="hidden" [(ngModel)]="activeCard">{{navData.experience}}</button>
  <button class="navButton" (click)="activateCard(2)"><input type="hidden" [(ngModel)]="activeCard">{{navData.education}}</button>
  <button class="navButton" (click)="activateCard(3)"><input type="hidden" [(ngModel)]="activeCard">{{navData.achievements}}</button>
  <button class="navButton" (click)="activateCard(4)"><input type="hidden" [(ngModel)]="activeCard">Contato</button>
</ul>
