<ul>
  <button class="navButton" (click)="activateCard(0)" autofocus><input type="hidden" [(ngModel)]="activeCard">{{navData.skills}}</button>
  <button class="navButton" (click)="activateCard(1)"><input type="hidden" [(ngModel)]="activeCard">{{navData.experience}}</button>
  <button class="navButton" (click)="activateCard(2)"><input type="hidden" [(ngModel)]="activeCard">{{navData.education}}</button>
  <button class="navButton" (click)="activateCard(3)"><input type="hidden" [(ngModel)]="activeCard">{{navData.achievements}}</button>
  <button class="navButton" (click)="activateCard(4)"><input type="hidden" [(ngModel)]="activeCard">Contato</button>
</ul>


<!-- opção de botão -->
<!-- <button type="button" class="btn btn-primary navButton" (click)="activateCard(0)"
    data-bs-toggle="button"><input type="hidden" [(ngModel)]="activeCard">{{navData.skills}}</button>
<button type="button" class="btn btn-primary navButton" (click)="activateCard(1)"
    data-bs-toggle="button"><input type="hidden" [(ngModel)]="activeCard">{{navData.experience}}</button>
<button type="button" class="btn btn-primary navButton" (click)="activateCard(2)"
    data-bs-toggle="button"><input type="hidden" [(ngModel)]="activeCard">{{navData.education}}</button>
<button type="button" class="btn btn-primary navButton" (click)="activateCard(3)"
    data-bs-toggle="button"><input type="hidden" [(ngModel)]="activeCard">{{navData.achievements}}</button>
<button type="button" class="btn btn-primary navButton" (click)="activateCard(4)"
    data-bs-toggle="button"><input type="hidden" [(ngModel)]="activeCard">Contato</button> -->

