@import "../styles.css";

main {
  background: var(--bg-color);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
  color: var(--txt-color);
}

.profile {
  background: var(--bg-profile);
  padding: 0 1.5rem;
  height: 80vh;
  margin-right: 3rem;
  border-radius: 35px 0;
}

.containerResume {
  width: 70vw;
  height: 80vh;
}

/* ;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;; */

.btn-primary {
  --bs-btn-color: #fff;
  --bs-btn-bg:  rgb(8, 10, 74);
  --bs-btn-border-color:  rgb(8, 10, 74);
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #0a53be;
  --bs-btn-hover-border-color: #0a58ca;
  --bs-btn-focus-shadow-rgb: 49, 132, 253;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #0a58ca;
  --bs-btn-active-border-color: #0a53be;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
}



.change-theme-button {
  transform: scale(0.7);
  padding: 1rem;
  position: absolute;
  border-radius: 50%;
  top: 1rem;
  right: 4rem;
  height: 3rem;
  width: 3rem;
  border-color: rgb(103, 87, 56);
  background-color: var(  --bg-button-theme-submit);
  background-image: url('../assets/moon.png');
  background-size: 2rem;
  background-repeat: no-repeat;
  background-position: center;
  transition: all 0.5seg;
}

.btn-check:checked + .btn, :not(.btn-check) + .btn:active, .btn:first-child:active, .btn.active, .btn.show {
  color: var(--bs-btn-active-color);
  background-color: var(  --bg-button-theme-submit);
  border-color:  rgb(14, 12, 26);
  background-image: url('../assets/sun.png');
  background-size: 2rem;
  background-repeat: no-repeat;
  background-position: center;
}

